{{define "content"}}
<h1>Player List</h2>
<div>
    {{range .Players}}
        <div>
            <p>{{ .Name }}</p>
            <p>XP: {{ .XP }}</p> 
            <p>Gold: {{ .Gold }}</p>
            <!-- Item list -->
            <div>
                <p>Items:</p>
                <ul>
                    {{ range .Items }}
                        <li>- {{ . }}</li>
                    {{else}}
                        <li>No items yet.</li>
                    {{end}}
                </ul>
            </div>
            <a href="/player/edit/{{ .ID }}">Edit</a>
            <a href="/player/delete/{{ .ID }}">Delete</a>
        </div>
    {{else}}
        <p>No players yet.</p>
    {{end}}
</ul>
{{end}}