{{define "content"}}
<h1 class="page-title">Adventurers</h2>
    {{range .Players}}
        <div class="card">
            <p>{{ .Name }}</p>
            <p>XP: {{ .XP }}</p> 
            <p>Gold: {{ .Gold }}</p>
            <!-- Item list -->
            <div>
                <p>Items:</p>
                <ul>
                    {{ range .Items }}
                        <li>- {{ . }}</li>
                    {{else}}
                        <li>No items yet.</li>
                    {{end}}
                </ul>
            </div>
            <a href="/player/edit/{{ .ID }}"><button class="btn-edit">Edit</button></a>
            <a href="/player/delete/{{ .ID }}"><button class="btn-del">Delete</button></a>
        </div>
    {{else}}
        <p>No players yet.</p>
    {{end}}
{{end}}