{{define "content"}}
<h1 class="page-title">Quests</h1>
    {{range .Quests}}
        <div class="card {{if .Complete}}quest-complete{{else}}quest-incomplete{{end}}">
            <p>{{.Title}}</p>
            <p>XP: {{ .XP }}</p>
            <p>Gold: {{ .Gold }}</p>
            <p>Assigned to {{ .PlayerID}} </p>
            {{if .Complete}}
                
            {{else}}
                <a href="/quest/edit/{{ .ID }}"><button class="btn-edit">Edit</button></a>
                <a href="/quest/delete/{{ .ID }}"><button class="btn-del">Delete</button></a>
            {{end}}
            <form action="/quest/complete" method="POST" style="display:inline;">
                <input type="hidden" name="quest_id" value="{{.ID}}">
                {{if .Complete}}
                    <button type="submit" disabled>Completed</button>
                {{else}}
                    <button type="submit" class="btn-comp">Mark Complete</button>
                {{end}}
            </form>
        </div>
    {{else}}
        <p>No quests yet.</p>
    {{end}}
{{end}}