{{define "content"}}
<h1>Quest List</h1>
<div >
    {{range .Quests}}
        <div class="{{if .Complete}}quest-complete{{else}}quest-incomplete{{end}}">
            <p>{{.Title}}</p>
            <p>XP: {{ .XP }}</p>
            <p>Gold: {{ .Gold }}</p>
            <p>Assigned to {{ .PlayerID}} </p>
            {{if .Complete}}
                
            {{else}}
                <a href="/quest/edit/{{ .ID }}">Edit</a>
                <a href="/quest/delete/{{ .ID }}">Delete</a>
            {{end}}
            <form action="/quest/complete" method="POST" style="display:inline;">
                <input type="hidden" name="quest_id" value="{{.ID}}">
                {{if .Complete}}
                    <button type="submit" disabled>Completed</button>
                {{else}}
                    <button type="submit">Mark Complete</button>
                {{end}}
            </form>
        </div>
    {{else}}
        <p>No quests yet.</p>
    {{end}}
</div>
{{end}}