<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Slayer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav class="navbar">
        <div>
            <a href="/">Home</a>
            <a href="/quests">Quests</a>
            <a href="/quest/create">Create Quest</a>
            <a href="/players">Players</a>
            <a href="/player/create">Create Player</a>
            <a href="/items">Items</a>
            <a href="/item/create">Create Item</a>
        </div>
    </nav>

    <div>
    {{ template "content" . }}
    </div>

    <footer>

    </footer>
</body>
</html>
