{{define "content"}}
<h1 class="page-title">Shop</h2>
    {{range .Items}}
        <div class="card">
            <form action="/item/buy/{{ .ID }}" method="post">
                <!-- Item Details -->
                <p>{{ .Name }}</p>
                <p>Price: {{ .Price }}</p>
                <!-- Player Dropdown -->
                <select name="player_id">
                    {{range $index, $player := $.Players}}
                        <option value="{{ $player.ID }}">{{ $player.Name }}</option>
                    {{end}}
                </select>
                <!-- Buy Button -->
                <button type="submit">Buy</button>
            </form>
        </div>
    {{else}}
        <p>No items yet.</p>
    {{end}}
{{end}}